{% extends 'base.html'%}

{% block title %}<title>Reviews</title>{% endblock %}

{% block style %}

{% endblock %}

{% block base %}
<h1 class="text-center my-3">영화 리뷰</h1>
<div class="container">
  <a class="btn btn-outline-secondary mb-3" href="#" role="button">리뷰 작성</a>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">작성 시간</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="">Mark<a></td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}